/*Regole generali*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

/*Regole dello scritto*/

h1{
    font-weight: bolder;
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

h5{
    font-size: 12px;
}

h6{
    font-size: 10px;
}

.listpos{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 2px;
    margin-left: 35px;
}

#l-item{
    font-size: 20px;
    font-weight: bold;
}

#l-itemnd{
    font-size: 17px;
    font-weight: 500;
}

li{
    margin: 20px 0;
}

ul{
    list-style-type: none;
}

.trlist{
    font-size: 22px;
}

.checklist{
    font-size: 12px;
    background-color: white;
    color: rgb(50, 201, 143);
}

.crosslist{
    font-size: 12px;
    background-color: white;
    color: rgb(241, 75, 130);
}

/*Background*/

.bwhite{
    background-color: rgb(255, 255, 255);
}

body{
    background-color: rgb(219, 219, 219);
}

.square{
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 2px;
    margin-left: 45px;
    border: 2px solid  rgb(9, 157, 216);
    border-radius: 5px;
}

.squareb{
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 2px;
    margin-left: auto;
    border: 2px solid rgb(173, 173, 173);
    border-radius: 5px;
}

.squarec{
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 2px;
    margin-left: auto;
    border-radius: 8px;
}

.circle{
    padding: 2px 4px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid rgb(50, 201, 143);
}

.circleb{
    padding: 2px 4px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid rgb(241, 75, 130);
}

.blue{
    background-color: rgb(9, 157, 216);
    color: white;
}

.violet{
    background-color: rgb(139, 79, 250);
    color: rgb(255, 255, 255);
}

.white{
    background-color: white;
    color: rgb(173, 173, 173);
}

.acquagreen{
    background-color: rgb(50, 201, 143);
    color: white;
}

.orange{
    background-color: rgb(252, 160, 54);
    color: white;
}

.green{
    background-color: rgb(154, 221, 67);
    color: white;
}

.pink{
    background-color: rgb(184, 75, 166);
    color: white;
}

/*Altre Regole*/

.logo{
    display: inline-block;
    vertical-align: middle;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

main{
    margin-top: 35px;
    margin-left: 175px;
    margin-right: 175px;
    box-sizing: border-box;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-top: 10px;
    padding-bottom: 3px;
}

footer{
    margin-top: 2px;
    margin-left: 175px;
    margin-right: 175px;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
}

#d-inline-block{
    display: inline-block;
}

#d-inline{
    display: inline;
}